
<form action='/users/sign_in' method='POST'>
  <input type ='email' name='email' required value='<%= @email %>'/>
  <input type ='password' name='password' />
  <input type='submit' value='Sign in' />
</form>
