<h1> New user </h1>
<% if flash[:errors] && !flash[:errors].empty? %>
  Please refer to the following errors below:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action='/users/new' method='POST'>
  <input type ='email' name='email' required value='<%= @email %>'/>
  <input type ='password' name='password' />
  <input type ='password' name='password_confirmation' />
  <input type='submit' value='Sign up' />
</form>
